:root {
  --clr-primary: hsla(195, 33%, 49%, 1);
  --ff-primary: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Header  and Navbar */

.header {
  height: 833px;
}

ul li .nav_link {
  font-size: 18px;
  font-weight: 400;
  line-height: 17.23px;
  font-family: var(--ff-primary);
}

ul li .active {
  font-size: 18px;
  font-weight: 700;
  line-height: 17.23px;
  font-family: var(--ff-primary);
  border-bottom: 3px solid var(--clr-primary);
}

hr {
  width: 82%;
  margin: 20px auto;
}

.hero-heading {
  font-family: var(--ff-primary);
  font-size: 3.5vw;
  font-weight: 900;
  line-height: 72px;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hero p {
  margin-top: 32px;
  text-align: center;
  line-height: 24px;
  font-family: var(--ff-primary);
  font-size: 18px;
  font-weight: 400;
}

.btn_custome {
  font-family: var(--ff-primary);
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: white;
  background-color: var(--clr-primary);
  height: 56px;
  width: 163px;
  border-radius: 8px;
  border: none;
  margin-top: 72px;
}

.services {
  height: 1163px;
}

.container .services_typoghrapy h6 {
  margin-top: 72px;
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--clr-primary);
}

.container .services_typoghrapy h2 {
  margin-top: 16px;
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 34px;
  text-align: center;
  text-transform: capitalize;
}

.container .services_typoghrapy p {
  margin-top: 44px;
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.spacing_page {
  margin-top: 72px;
}

.services .services-cards {
  width: 392px;
  height: 316px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  padding: 31px 0 0 32px;
}

.services .services-cards h3,
p {
  margin-top: 24px;
}

.services .services-cards h3 {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  text-transform: capitalize;
  color: #3F3434;
}

.services .services-cards p {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3F3434;
  opacity: 0.6;
}

.services .services-cards a {
  text-decoration: none;
}

.services .services-cards a img {
  margin: 17px 37px 22px 0;
}

.aboutus {
  height: 749px;
  /* background: linear-gradient(180deg, #5390A5 0%, rgba(217, 217, 217, 0) 78.13%); */
  background-color: rgba(83, 144, 165, 0.05);
  padding: 80px 0 120px 0;
}

.aboutus h5 {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--clr-primary);
}

.aboutus h2 {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-transform: capitalize;
}

.aboutus p {
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #3F3434;
}

.aboutus ul li {
  margin-top: 33px;
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  color: #3F3434;
}

.aboutus img {
  border-radius: 12px;
}

/* Layout.module.css */
.layout-container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 1fr;
  grid-template-areas:
      "app-header"
      "main-content"
}
.main-content {
  grid-area: main-content;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.fade-in {
  opacity: 0;
}

.fade-in.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
@-webkit-keyframes backInLeft {
  0% {
    transform: translateX(-2000px) scale(.7);
    opacity: .7;
  }

  80% {
    transform: translateX(0px) scale(.7);
    opacity: .7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes backInLeft {
  0% {
    transform: translateX(-2000px) scale(.7);
    opacity: .7;
  }

  80% {
    transform: translateX(0px) scale(.7);
    opacity: .7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.backInLeft {
  -webkit-animation: backInLeft 1.5s;
  animation: backInLeft 1.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
