@media (max-width: 992px) {
	.header {
		height: 100%;
		padding: 5px;
	}
    .services .services-cards {
		width: 100%;
		height: 100%;
		border: 0.5px solid rgba(0, 0, 0, 0.3);
		border-radius: 16px;
		padding: 31px 0 0 32px;
	}
    /* .text-center {
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
	} */
    .aboutus, .ghraph-image, .choose-us, .testimonials, .xerobit-footer, .services-strategy, .services{
		height: 100%;
	}

    .project-idea {
		height: 100%;
		padding: 3%;
	}

    .blogs {
		height: 100%;
		margin: 0 auto;
	}
    .contactus {
		height: 100%;
		margin: 5px 0;
	}
    .main-header .mainheader-hero h1::after {
		content: " ";
	}

	.main-header .mainheader-hero h1::before {
		content: " ";
	}
/*
	.strategy-tabs {
		padding-left: 1rem !important;
	} */
	ul li .nav_link{
		text-align: center;
		margin: 4px 0px;
	}
	ul li .active {
		font-size: 18px;
		font-weight: 700;
		line-height: 17.23px;
		font-family: var(--ff-primary);
		position: relative;
	}
	ul li .active::after {
		content: "";
		width: 15%;
		height: 3px;
		background: var(--clr-primary);
		position: absolute;
		bottom: 0px;
		left: calc(62.5% - 20%);
	}

	.hero-rightimage {
		position: absolute;
		top: 105px;
		right: 0;
		max-width: 14% !important;
		height: auto;
	}
	.text-100{
		width: 100% !important;
	}
	.disply_none{
		display: none;
	}
}

@media (max-width: 767.98px) {
	.choosus-img {
		display: none;
	}

	.choose-btn,
	.choose-us h5,
	.choose-us h2,
	.choose-us p {
		margin: auto;
		text-align: center;
		padding: 10px 5px;
	}
    .form-btn {
		text-align: center;
	}
	.hero-rightimage {
		position: absolute;
		top: 112px;
		right: 0;
		max-width: 11% !important;
		height: auto;
	}
	.content-center{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.text_center_justification{
		text-align: center;
	}
	.btn-center {
		height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.aboutus-img{
		display: none;
	}
	.blogs .blog-cards .blog-inner a {
		left: 33%;
	}
}

@media (min-width: 767.99px){
.aboutus-img-2{
display: none;
}
}
@media (min-width: 992px) {
	.text-85{
		width: 85% !important;
	}
}